body {
  font-size: 17px;
}

.main-title {
  text-align: center;
}

.input-todo-area {
  height: 40px;
  display: flex;
}

.input-todo-area .input-todo {
  width: 75%;
  height: 34px;
  display: inline-block;
}
.input-todo-area .input-btn {
  background: #76ff03;
  color: #fff;
}
.input-todo-area .input-btn:active {
  border: none;
  -webkit-transform: translate(3px, 3px);
  transform: translate(3px, 3px);
}

.stock-todo-area {
  border: solid 1px #000;
  margin-top: 10px;
}
.stock-todo-area .todo-list_contents {
  border-bottom: solid 1px #ddd;
  padding: 10px;
  display: flex;
}
.stock-todo-area .todo-list_contents .todo-list_text {
  width: 70%;
  word-break: break-all;
}
.stock-todo-area .todo-list_contents .todo-list_text .label {
  width: 100%;
  display: block;
}
.stock-todo-area .todo-list_contents .todo-list_text .label .checkbox:checked + .todo-list_item {
  text-decoration: line-through;
}
.stock-todo-area .todo-list_contents .todo-list_text .input-todo-edit {
  width: 90%;
  height: 40px;
}
.stock-todo-area .todo-list_contents .todo-list_btn {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stock-todo-area .todo-list_contents .todo-list_btn .btn-left {
  width: 45%;
}
.stock-todo-area .todo-list_contents .todo-list_btn .btn-left .btn {
  width: 100%;
  height: 30px;
  border: solid 2px #999;
  border-radius: 5px;
  color: #999;
}
.stock-todo-area .todo-list_contents .todo-list_btn .btn-right {
  width: 45%;
}
.stock-todo-area .todo-list_contents .todo-list_btn .btn-right .btn {
  width: 100%;
  height: 30px;
  border: solid 2px #999;
  color: #76ff03;
  border-radius: 5px;
}
